* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
    background-color: #a2466b;
    display: flex;
}

.center {
    margin-top: 10rem;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

img {
    width: 20rem;
    height: 20rem;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

#base-layer {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

#envelope-open-bottom, #envelope-open-top, #candy-heart{
    position: absolute;
    top: inherit;
    left: inherit;
    display: none;
}

#candy-heart {
    padding-bottom: 0.5cm;
}

.right {
    margin-top: 20rem;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #fff;
}

.button-array {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    color: #fff;
    background-color: #b8b670;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    height: 6vh;
    width: 9vh;
    border: none;
    border-radius: 10px;
} button:hover {
    background-color: #d3d198;
}

#no-btn {
    margin-left: 5px;
}